version: 2.1
orbs:
  codecov: codecov/codecov@4.0.1
  python: circleci/python@2.1.1
jobs:
  test-and-upload:
    docker:
      - image: cimg/python:3.12.1
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
          pip-dependency-file: requirements.txt
      - python/install-packages:
          args: pytest
          pkg-manager: pip
          pypi-cache: false
      - run:
          name: Run tests
          command: |
              cd test
              pytest --junitxml=./../junit.xml --cov || ((($? == 5)) && echo 'Did not find any tests to run.')
      - store_test_results:
          path: junit.xml
      - codecov/upload
  
workflows:
  test:
    jobs:
      - test-and-upload
